@model IEnumerable<DistMed.Models.InventarioDTO>

@{
    ViewData["Title"] = "Inventarios";
}

<h1>Inventarios</h1>

<p>
    <a class="btn btn-primary" asp-action="Ubicaciones_Search">Nuevo Registro</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Bodega)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Ubicacion)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Articulo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Piezas)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Bodega)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Ubicacion)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Articulo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Piezas)
            </td>
            <td>
                <a class="btn btn-secondary" asp-action="Edit" asp-route-id="@item.IdUbicacion">Editar</a> |
                <a class="btn btn-danger" asp-action="Delete" asp-route-id="@item.IdUbicacion">Borrar</a>
            </td>
        </tr>
}
    </tbody>
</table>
